../venv
temp/
daemon/
.vscode
tmp/
public/
*.pyc
.idea
__pycache__
.venv
/logfile*
logfile
*.log
*.log*
*.crt
*.key
*.service
export_path
powershell-lts.deb
services/code/service_1/*
services/code/service_2/*
services/code/service_5/*
services/code/service_3/*
services/code/service_4/*
services/code/web_app/*
!.gitignore